<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EBlazor Example</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/setup" Match="NavLinkMatch.All">
                <span class="fa fa-briefcase" aria-hidden="true"></span> Installation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/inputs">
                <span class="fa fa-file-text" aria-hidden="true"></span> Inputs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/gridsystem">
                <span class="fa fa-th" aria-hidden="true"></span> Grid System
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/containers">
                <span class="fa fa-list-alt" aria-hidden="true"></span> Containers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/datasets">
                <span class="fa fa-table" aria-hidden="true"></span> Data sets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/elements">
                <span class="fa fa-wpforms" aria-hidden="true"></span> Other elements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/slider">
                <span class="fa fa-sliders" aria-hidden="true"></span> Slider
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/scheduler">
                <span class="fa fa-calendar" aria-hidden="true"></span> Scheduler
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
